body{
    background-image: url("./advice-article-background-beverage.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
form{
    background-color: rgba(255, 255, 255, 0.79);
}